@media (max-width: 640px) {
    .title {
        &__text {
            margin-bottom: 26px !important;
        }
    }
}

@media (min-width: 768px) and (max-width: 1000px) {
    .title {
        &--top {
            margin-bottom: 20rem !important;
        }
    }
}

.title {
    &__heading {
        z-index: 100;
    }
    &__text {
        color: $DARK-GREY;
        line-height: 1.875;
    }
    &__image {
        content: '';
        width: 4.5rem;
        height: 50%;
        background-color: $MAIN-COLOR;
        z-index: -1;
        bottom: 0;
        left: 0;
    }
}
